.view-size 
{
	position : absolute;
	left : 15%;
	top : 37;
	height : 700;
	width : 65%;
}
GridBackground
{
	--grid-background-color : rgba(52,52,52,255);
	--line-color :  rgba(20,20,20,255);
	--spacing : 20;
}